.App {
  font-family: sans-serif;
  text-align: center;
  background-image:url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?q=10&amp;h=200");
  background-repeat: no-repeat;
  padding: 100px;
  background-size: 1000px;
  }